<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Soutenez un projet d'avenir!</h2>
                <p>En soutenant le projet NKAP360 vous ferez partie des premiers bénéficiaires et aurez un accès exclusif à toutes les fonctionalités!</p>
                <div class="badges">
                    <a style="color:black" class="btn btn-outline btn-xl page-scroll" href="#why">NKAP360, Je souhaite participer</a>
                    <a class="btn btn-outline btn-xl page-scroll" href="#portfolio">Non merci</a>
                </div>
            </div>
        </div>
    </div>
</section>
