<section id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Comment puis -je contribuer?</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary"></i>
                    <h3>Rejoindre l'équipe</h3>
                    <p class="text-muted">Si vous disposer d'une expertise en développement mobile et/ou web ,n'hésiter pas à nous contacter<a target="_blank" href="https://github.com/nkap360/nkap360.github.io/contact_form.html">Formulaire de contact</a>. Nous rejoindre , c'est participer à un projet d'envergure avec une dimension forte d'innovantion!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bitcoin wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Contribution / Donation</h3>
                    <p class="text-muted"><a class="page-scroll" href="#donate">Donation</a> ..., <a target="_blank" href="http://www.coindesk.com/information/what-is-bitcoin/">...</a>, ....!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-linkedin wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>....</h3>
                    <p class="text-muted">.... <a target="_blank" href="#">LinkedIn</a>, email à nkap360[at]gmail.com !</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-key wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>....</h3>
                    <p class="text-muted">..... <a target="_blank" href="https://keybase.io/#">votre invitation sur KeyBase</a> ...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br />
                <hr class="primary">
                <h3>Contact: nkap360[at]gmail.com</h3>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
</section>
